*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}
.login_container{
    padding: 25px 35px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
    width: 300px;
}
input{
    margin: 8px 0px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    

}
button{
    width: 100%;
    background-color: darkblue;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 4px 0;
}
button:hover{
    background-color: rgb(65, 65, 189);
    cursor: pointer;
}
p{
    margin: 8px 0;
}
h1{
    color: darkblue;
    margin-bottom: 10px;
}